<section>
    {{#if loggedIn}}

        {{#each posts as |post|}}
        <div class="post-detail card mb-3" style="max-width: 25vw">
        <div class="row">
            <div class="title col-3">
                <a href="/post/{{post.id}}">
                    <h4 class="card-title">
                        {{post.title}}
                    </h4>
                </a>
            </div>
        {{> post-detail post}}
        </div>
        </div>
        {{/each}}
    {{else}}
    <a href="/login" class="btn-primary">Login</a>
    {{/if}}
    
    <button id="add-post-btn">Add a post</button>
    
    <script src="/javascript/addPost.js"></script>
</section>




