<section class="text-center">
    {{#if loggedIn}}

        {{#each posts as |post|}}
        <div class="post-detail card mb-3">
        <div class="row">
            <div class="title col-auto">
                <a href="/dashboard/edit/{{post.id}}" class="text-decoration-none">
                    <h4 class="card-title p-3">
                        {{title}}
                    </h4>
                </a>
            </div>
        {{> post-detail post}}
        </div>
        </div>
        {{/each}}
    {{else}}
    <a href="/login" class="btn-primary">Login</a>
    {{/if}}
    
    <button id="add-post-btn" class="m-3 btn btn-primary">Add a post</button>
    
    <script src="/javascript/addPost.js"></script>
</section>




