<h2 class="text-center">Edit Post</h2>

<form class="edit-post-form">
    <div class"m-3">
        <input type="text" value="{{post.title}}" class="form-control" id="title">
    </div>
    <div class="m-3">
        <input type="text" value="{{post.post_text}}" class="form-control" id="body">
    </div>
    <div class="row">
        <div class="col-6">
    <button type="submit" class="btn btn-success mb-3">Update Post</button>
    </div>
    <div class="col-6">
    <button id="delete-btn" class="btn btn-danger mb-3">Delete Post</button>
    </div>
    </div>
</form>

<form class="comment-form">
    <div class="form-floating mb-3">
        <textarea name="comment-text" class="form-control" ></textarea>
        <label for="comment-text">Add a comment</label>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Add</button>
    </div>
</form>

<script src="/javascript/editPost.js"></script>
<script src="/javascript/deletePost.js"></script>
<script src="/javascript/addComment.js"></script>