<h2>Edit Post</h2>

<form class="edit-post-form">
    <div>
        <input type="text" value="{{post.title}}" id="title">
    </div>
    <div>
        <input type="text" value="{{post.post_text}}" id="body">
    </div>
    <button type="submit" class="btn btn-success">Save Post</button>
    <button id="delete-btn" class="btn btn-danger">Delete Post</button>
</form>

<form class="comment-form">
    <div>
        <textarea name="comment-text" ></textarea>
    </div>
    <div>
        <button type="submit">Add</button>
    </div>
</form>

<script src="/javascript/editPost.js"></script>
<script src="/javascript/deletePost.js"></script>
<script src="/javascript/addComment.js"></script>