<ul class="list-group list-group-flush">
    {{#each posts as |post|}}
    <div class="post-detail card mb-3" style="max-width: 25vw">
        <div class="row">
            <div class="title">
                <a href="/post/{{post.id}}">
                    <h4 class="card-title">
                        {{post.title}}
                    </h4>
                </a>
            </div>
     {{> post-detail post}}
            
        </div>
    </div>
    {{/each}}
</ul>