<h2>Signup</h2>

<form class="signup-form">
    <div>
        <label for="signup-username">Username</label>
        <input type="text" id="signup-username" />
    </div>
    <div>
        <label for="signup-email">Email</label>
        <input type="email" id="signup-email"/>
    </div>
    <div>
        <label for="signup-password">Password</label>
        <input type="text" id="signup-password" />
    </div>

    <button type="submit" class="btn btn-primary">Create User</button>
</form>

<button id="login-btn" class="btn btn-secondary">Login instead</button>

<script src="/javascript/signup.js"></script>